<!-- Start Body Content -->
<div class="main" role="main">
	<div id="content" class="content full">
  		<div class="container">
    		<div class="row">
      			<div class="col-md-9 single-post">
        			<header class="single-post-header clearfix">
                        <div class="post-actions">
                            <div class="post-date">{{campa.0.blogPublicacion}}</div>
                            <div class="comment-count"><a id="go-back-blog"><i class="fa fa-chevron-left"></i> Regresar</a></div>
                        </div>
          				<h2 class="post-title">
          					{{campa.0.blogTitulo}}
          				</h2>
        			</header>
        			<article class="post-content">
        				{{#if campa.0.blogSubTitulo}}
    					<h3 class="post-subtitle">{{campa.0.blogSubTitulo}}</h3>
        				{{/if}}
        				{{#if campa.0.blogFeatureImage}}
        				<div class="featured-image">
                            <a>
                                <img src="../img/sitio/blog/{{campa.0.blogFeatureImage}}" alt="" class="post-img">
                            </a>
                        </div>
        				{{/if}}
        				{{#if campa.0.blogDescripcion}}
        				<div class="to-html">{{campa.0.blogDescripcion}}</div>
        				{{/if}}
        				{{#if campa.0.blogPostParrafo1}}
        				<div class="to-html">{{campa.0.blogPostParrafo1}}</div>
        				{{/if}}
        				{{#if campa.0.blogPostSubTitulo}}
        				<div class="to-html">{{campa.0.blogPostSubTitulo}}</div>
        				{{/if}}
        				{{#if campa.0.blogPostParrafo2}}
        				<div class="to-html">{{campa.0.blogPostParrafo2}}</div>
        				{{/if}}
        				{{#if campa.0.blogPostFeatureImage1}}
        				<div class="featured-image">
                            <a>
                                <img src="../img/sitio/blog/{{campa.0.blogPostFeatureImage1}}" alt="" class="post-img">
                            </a>
                        </div>
        				{{/if}}
        				{{#if campa.0.blogPostFeatureImage2}}
        				<div class="featured-image">
                            <a>
                                <img src="../img/sitio/blog/{{campa.0.blogPostFeatureImage2}}" alt="" class="post-img">
                            </a>
                        </div>
        				{{/if}}
        				{{#if campa.0.blogPostBlockquote}}
        				<div class="to-html">{{campa.0.blogPostBlockquote}}</div>
        				{{/if}}
        			</article>
      			</div>
      			<!-- Start Sidebar -->
      			<div class="col-md-3 sidebar">
        		</div>
      		</div>
    	</div>
  	</div>
</div>
<!-- End Body Content -->
